# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
venv/
.env
.venv/

# Logs
*.log

# IDEs
.vscode/
.idea/

# SQLite / arquivos de banco local
*.db
*.sqlite3

# Alembic / SQLAlchemy Migrations (compilados)
migrations/versions/__pycache__/
migrations/versions/*.pyc

# Test / coverage
.coverage
htmlcov/
.pytest_cache/

# Docker (se usar)
docker-compose.override.yml
*.dockerfile
